<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}INVILSO SCRIPTS | Python Back-End Consultant{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='icons/site.webmanifest') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', path='icons/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', path='icons/android-chrome-512x512.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='vendor/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
